html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.app_container {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    -js-display: flex;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    width: inherit;
    -js-display: flex;
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.item {
    margin: 1rem;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.content {
    width: inherit;
    -js-display: flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.lorem {
    margin: 1rem;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
}
